{% extends "base_reviews.html" %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <br><label>Имя</label>
        <br><input type="text" name="user_firstname" required/>

        <br><label>Фамилия</label>
        <br><input type="text" name="user_lastname" required/>

        <br><label>Ваша фотография</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="user_photo" required/>

        <br><label>Отзыв</label>
        <br><textarea rows="10" cols="45" name="review_description" required></textarea>

        <br><label>Фото 1</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_1" />

        <br><label>Фото 2</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_2" />

        <br><label>Фото 3</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_3" />

        <br><label>Фото 4</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_4" />

        <br><label>Фото 5</label>
        <br><input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_5" />

        <br><input type="submit" value="Отправить" >
    </form>
{% endblock %}