{% extends "base_reviews.html" %}

{% block content %}
    <div class="reviews-page">
        <div class="container">
            <a href="#" class="open-popup">Оставить отзыв</a>
            <div class="popup__bg" id="popup-review">
                <div class="close-popup cl-btn-7"></div>
                <form class="popup" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="review-person-info">
                        <input type="text" name="user_firstname" placeholder="Имя" required/><span>*</span>
                        <input type="text" name="user_lastname" placeholder="Фамилия" required/><span>*</span>
                    </div>

                    <div class="person-foto">
                        <label>Ваша фотография</label>
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="user_photo"/>
                    </div>

                    <p class="review-text">
                        <textarea rows="10" cols="45" name="review_description" placeholder="Отзыв" required></textarea><span>*</span>
                    </p>

                    <div class="review-foto">
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_1"/>
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_2"/>
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_3"/>
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_4"/>
                        <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_5"/>
                    </div>

                    <div class="review-btns">
                        <button type="submit">Отправить</button>
                        <button type="button">Отмена</button>
                    </div>
                </form>
            </div>

            <div class="reviews-list">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="reviews-item">
                            <div class="reviews-item__avatar">
                                <img src="{{ review.user_photo.url }}">
                            </div>
                            <div class="reviews-item__info">
                                <p>{{ review.user_firstname }} {{ review.user_lastname }}</p>
                                <p>{{ review.review_description }}</p>
                                <p>{{ review.date }}</p>
                            </div>

                            {% if review.photo_1.url != Null %}
                                <img src="{{ review.photo_1.url }}" width="400px" height="400px">
                            {% endif %}

                            {% if review.photo_2.url != Null %}
                                <img src="{{ review.photo_2.url }}" width="400px" height="400px">
                            {% endif %}

                            {% if review.photo_3.url != Null %}
                                <img src="{{ review.photo_3.url }}" width="400px" height="400px">
                            {% endif %}

                            {% if review.photo_4.url != Null %}
                                <img src="{{ review.photo_4.url }}" width="400px" height="400px">
                            {% endif %}

                            {% if review.photo_5.url != Null %}
                                <img src="{{ review.photo_5.url }}" width="400px" height="400px">
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}