{% extends "base_reviews.html" %}

{% block content %}

    <p onclick="window.location.href='new/'">Оставить отзыв</p>

    {% if reviews %}
        {% for review in reviews %}

            <img src="{{ review.user_photo.url }}" width="100px" height="100px">
            <p>{{ review.user_firstname }} {{ review.user_lastname }}</p>
            <p>{{ review.review_description }}</p>
            <p>{{ review.date }}</p>

            {% if review.photo_1.url != Null %}
                <img src="{{ review.photo_1.url }}" width="400px" height="400px">
            {% endif %}

            {% if review.photo_2.url != Null %}
                <img src="{{ review.photo_2.url }}" width="400px" height="400px">
            {% endif %}

            {% if review.photo_3.url != Null %}
                <img src="{{ review.photo_3.url }}" width="400px" height="400px">
            {% endif %}

            {% if review.photo_4.url != Null %}
                <img src="{{ review.photo_4.url }}" width="400px" height="400px">
            {% endif %}

            {% if review.photo_5.url != Null %}
                <img src="{{ review.photo_5.url }}" width="400px" height="400px">
            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}