{% extends "base_reviews.html" %}

{% block content %}
    <div class="reviews-page">
        <div class="container">
            <a href="#" class="open-popup">Оставить отзыв</a>
            <div class="popup__bg" id="popup-review">
                <div class="close-popup cl-btn-7"></div>
                <form class="popup" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="review-person-info">
                        <input type="text" name="user_firstname" placeholder="Имя" required/>
                        <input type="text" name="user_lastname" placeholder="Фамилия" required/>
                    </div>

                    <div class="person-foto">
                        <label class="input-file">
                            <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="user_photo"/>
                            <span class="input-file-btn">Выберите аватар</span>
                        </label>
                    </div>

                    <p class="review-text">
                        <textarea name="review_description" placeholder="Отзыв" required maxlength="500"></textarea><span>*</span>
                    </p>

                    <div class="review-foto">
                        <p class="review-foto__title">Загрузите фото дессерта:</p>
                        <div class="review-foto__inner">
                            <label class="input-file">
                                <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_1"/>
                                <span class="input-file-btn">Выберите фото</span>
                            </label>

                            <label class="input-file">
                                <input type="file" multiple accept="image/jpeg, image/jpg, image/png" name="photo_2"/>
                                <span class="input-file-btn">Выберите фото</span>
                            </label>
                        </div>
                    </div>

                    <button class="review-btns" type="submit">Отправить</button>
                </form>
            </div>

            <div class="reviews-list">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="reviews-item">
                             <div class="reviews-item__content">
                                 <div class="reviews-item__avatar">
                                     <img src="{{ review.user_photo.url }}">
                                 </div>
                                 <div class="reviews-item__info">
                                     <p class="reviews-item__info__firstname">{{ review.user_firstname }} {{ review.user_lastname }}</p>
                                     <p class="reviews-item__info__date">{{ review.date }}</p>
                                     <p class="reviews-item__info__description">{{ review.review_description }}</p>
                                 </div>
                             </div>

                            <div class="reviews-list__image">
                                {% if review.photo_1.url != Null %}
                                    <a href="{{ review.photo_1.url }}"><img src="{{ review.photo_1.url }}"></a>
                                {% endif %}

                                {% if review.photo_2.url != Null %}
                                    <a href="{{ review.photo_2.url }}"><img src="{{ review.photo_2.url }}"></a>
                                {% endif %}
                            </div>

{#                            {% if review.photo_3.url != Null %}#}
{#                                <img src="{{ review.photo_3.url }}" width="400px" height="400px">#}
{#                            {% endif %}#}
{##}
{#                            {% if review.photo_4.url != Null %}#}
{#                                <img src="{{ review.photo_4.url }}" width="400px" height="400px">#}
{#                            {% endif %}#}
{##}
{#                            {% if review.photo_5.url != Null %}#}
{#                                <img src="{{ review.photo_5.url }}" width="400px" height="400px">#}
{#                            {% endif %}#}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}