{% extends "base_gallery.html" %}

{% block content %}
    <div class="gallery">
        <div class="container">
            <div class="gallery__list">
                {% if photos %}
                    {% for photo in photos %}
                        <a href="{{ photo.photo.url }}" class="gallery_item">
                            <div class="gallery_item-hover">Посмотреть</div>
                            <img src="{{ photo.photo.url }}" alt="Картинка"/></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}