{% extends "base_orders.html" %}
{% load static %}

{% block content %}
        <div class="order-page">
            <div class="order-background">
                <img src="{% static 'images/background-order.jpg' %}" alt="Фон">
                <div class="order-background_blur"></div>
            </div>

            <div class="container">
                <form method="POST" action="" enctype="multipart/form-data" class="order-form">
                    {% csrf_token %}
                    <p class="form_title">Оформление заказа</p>
                    <p class="required-el1"><input type="text" name="user_firstname" placeholder="Имя" required/></p>
                    <p><input type="text" name="user_lastname" placeholder="Фамилия"/></p>
                    <p class="required-el2"><input type="tel" name="user_phone" placeholder="Телефон" required/></p>
                    <div class="order_description">
                        <textarea name="order_description" placeholder="Пожелания к заказу"></textarea>
                    </div>
                    <button class="order-form_btn" type="submit">Перезвоните мне</button>
                </form>
            </div>
        </div>
{% endblock %}