/*========ZEROING STYLES========*/
* {padding:0; margin:0; border:0;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
:focus,:active {outline:none;}
a:focus,a:active {outline:none;}
nav, footer, header, aside {display:block;}
html, body {height:100%; width:100%; line-height:1; -ms-text-size-adjust:100%; -moz-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a,a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
ul li {list-style:none;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-size:inherit; font-weight: inherit;}
/*--------------------*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background: #FDF5E6;
}


/*========CONTAINER========*/
.container {
    width: 100%;
    height: inherit;
    max-width: 1180px;
    margin: 0 auto;
}

/*========NAVBAR========*/
.navbar {
    width: 100%;
    background-color: #29201C;
    padding: 5px 0;
    z-index: 1000;
}

.fixed {
    position: fixed;
}

.navbar_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.nav {
    padding-left: 150px;
}

.nav_link {
    position: relative;
    text-decoration: none;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: bold;
    color: #FDF5E6;
    margin-left: 80px;
}

.nav_link::before {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #FDF5E6;
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: scaleX(0);
    transition: 0.25s;
}

.nav_link:hover::before {
    transform: scaleX(1);
    transition: 0.25s;
}

.nav_link:hover {
    color: #FDF5E6;
}

.nav_link:first-child {
    margin-left: 0;
}

.logo img {
    height: 65px;
}



/*========FOOTER========*/
.footer {
    flex: 0 0 auto;
    z-index: 1000;
    width: 100%;
    background-color: #29201C;
    padding: 15px 0;

    font-size: 10pt;
    font-weight: normal;
    color: #FDF5E6;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright_title {
    margin-bottom: 6px;
}



/*===========ABOUT===========*/
.about {
    margin: 60px 0;
}

.about_inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;

    padding-bottom: 85px;
    border-bottom: 2px solid #716c6b;
}

.about_content {
    font-family: 'Raleway', serif;
    font-size: 20px;
    text-align: center;
    color: #3B3736;
}

.about_title {
    position: relative;
    font-weight: bolder;
    margin-top: 20px;
}

.about_title:after {
    width: 100px;
    height: 2px;
    background: #54504f;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
}

.about_text {
    margin-top: 60px;
}

.about_link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 180px;
    border: 2px solid #29201C;
    border-radius: 20px;
    padding: 10px 8px;
    margin: 30px auto 10px;

    color: #54504f;
}

.about_foto img {
    width: 380px;
    height: 380px;
    border: 1px solid #29201C;
}

.about_link:hover {
    background-color: #29201C;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}

.aside_link {
    width: 220px;
}

.about_aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;

    padding: 91px 0 60px;
}
.about_foto-aside {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.about_foto-aside img {
    padding-left: 10px;
    width: 550px;
    height: 380px;
}

.dots {
    position: absolute;
    top: 1100px;
    padding-left: 630px;
}

.btn-swiper-prev {
    position: absolute;
}

.btn-swiper-next {
    position: absolute;
}

/*===========FILLINGS===========*/
.fillings__inner {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-gap: 20px;
    padding: 50px 0;
    color: #3B3736;

    border-bottom: 2px solid #a09a9a;
}

.fillings__info {
    padding-right: 30px;
}

.fillings__title {
    font-size: 26px;
    margin-top: 35px;
}

.fillings__subtitle {
    font-size: 19px;
    margin-top: 20px;
}

.fillings__link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 190px;
    border: 2px solid #3B3736;
    border-radius: 30px;
    padding: 13px 11px;
    margin-top: 70px;
    color: #3B3736;
}

.fillings__link:hover {
    background-color: #29201C;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}

.fillings__foto img {
    width: 500px;
    height: 340px;

    border: 2px solid #3B3736;
}


/*===========GALLERY===========*/
.gallery {
    margin: 30px 0 30px;
    position: relative;
}

.gallery__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    font-size: 0;
}

.gallery_item {
    display: block;
    position: relative;
}

.gallery_item-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    color: #c4b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    opacity: 0;
}

.gallery_item:hover .gallery_item-hover {
    opacity: 1;

    transition: opacity 0.2s linear;
}

.gallery_item img {
    width: 400px;
    height: 400px;
}


/*===========ORDER===========*/
.order-page img {
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.background {
    z-index: 0;
}

.background_blur {
    backdrop-filter: blur(2px);
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.order-form {
    position: absolute;
    top: 110px;
    left: 570px;
    width: 30%;
    padding: 20px 10px 30px;
    background-color: #29201C;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    color: #FDF5E6;

    border-radius: 15px;
    box-shadow: 0 0 34px 7px rgba(255, 255, 255, 0.28);
}

.form_title {
    font-size: 15pt;
    width: 100%;
    padding: 10px 0 10px;
}

.order-form input {
    position: relative;
    width: 80%;
    border: 0;
    background-color: #29201C;
    border-bottom: 2px solid #838282;
    margin: 22px 0 22px;
    padding: 6px 4px;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #FDF5E6;
}

.order-form input:focus {
    outline: none;
    border-bottom: 2px solid #ffffff;
}

.order_description {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.order_description textarea {
    border: 0;
    background-color: #29201C;;
    border-bottom: 2px solid #838282;
    height: 100px;
    width: 80%;
    resize: none;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #FDF5E6;
}

.order_description textarea:focus {
    outline: none;
    border-bottom: 2px solid #ffffff;
}

.order-form_btn {
    padding: 13px;
    width: 83%;
    border-radius: 20px;
    border: 2px solid #29201C;
    margin: 40px auto 15px;
    cursor: pointer;
    transition: background-color 0.2s linear;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
}

.order-form_btn:hover {
    background-color: #29201C;
    color: #c4b9b9;
    border: 2px solid #c4b9b9;
}

.required-el1::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 87px;
    color: rgba(255, 0, 0, 0.5);
}

.required-el2::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 237px;
    color: rgba(255, 0, 0, 0.5);
}

.order-form-success {
    position: absolute;
    top: 240px;
    padding: 20px;
}

.order-form-success__title {
    font-size: 15pt;
    padding: 20px 0;
}

.order-form-success__subtitle {
    font-size: 13pt;
    padding: 20px 0;
}



/*===========CATEGORY LIST===========*/
.category-list {
    margin: 30px 0 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: #29201C;
}

.category-list__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.category-list__title {
    font-size: 21pt;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.hover-effect-scale {
    display: block;
    list-style: none;
    text-align: center;
}

.hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 2px solid #29201C;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.hover-effect-scale li p {
    color: #c4b9b9;
    font-size: 18pt;
    margin: 5px;
    padding-bottom: 20px;
}

.name-category {
    text-transform: uppercase;
}

.hover-effect-scale li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #29201C;
    background: #c4b9b9;
    border-radius: 5px;
    border: 2px solid #29201C;
    margin: 0 auto;
    transition: all 0.25s linear;
}

.hover-effect-scale li a:hover {
    border: 2px solid #c4b9b9;
    background: #29201C;
    color: #c4b9b9;
}

.hover-effect-scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hover-effect-scale li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    color: #c4b9b9;
}

.hover-effect-scale li img {
    width: 400px;
    height: 360px;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
}

.hover-effect-scale li:hover img {
    transform: scale(1.3);
}

.hover-effect-scale li:hover div {
    opacity: 1;
}



/*===========DESSERT LIST===========*/
.hover-effect-scale-dessert li p {
    font-size: 21pt;
    padding: 8px;
}

.price-dessert {
    font-weight: normal;
    font-size: 18pt;
}

.name-dessert-under {
    font-size: 14pt;
    padding-top: 10px;
}



/*===========DESSERT DETAIL===========*/
.dessert-detail {
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
}

.dessert-image img {
    width: 550px;
    height: 480px;
    border: 2px solid #29201C;
}

.dessert-info {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #29201C;
    padding-left: 100px;
    padding-top: 30px;
}

.dessert-info__dessert_name {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: bold;
}

.dessert-info__dessert_price {
    padding-top: 20px;
}

.dessert-info__dessert_description {
    padding-top: 30px;
    text-align: justify;
    line-height: 1.2;
}

.dessert-link {
    width: 230px;
    margin-top: 100px;
    font-weight: bold;
}



/*===========PAGE LEARN MORE WITH SOCIAL NETWORK===========*/
.learn-more-page img {
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.learn-more-background {
    z-index: 0;
}

.learn-more-background_blur{
    backdrop-filter: blur(2px);
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.button-learn-more {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    cursor: pointer;
}

.learn-more-page__inner {
    position: absolute;
    top: 40px;
    left: 650px;
}

.button-learn-more-telegram {
    background: #229ED9;
    border-radius: 40px;
    margin-top: 200px;
    transition: background-color 0.15s linear;
}

.button-learn-more-telegram:hover {
    background: #063bac;
    transition: background-color 0.15s linear;
}

.button-learn-more-whatsapp {
    background: #25D366;
    border-radius: 40px;
    margin-top: 30px;
    transition: background-color 0.15s linear;
}

.button-learn-more-whatsapp:hover {
    background: #099740;
    transition: background-color 0.15s linear;
}


/*===========REVIEWS===========*/
.reviews-page {
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: normal;
    color: #29201C;
}

.reviews-page a {
    margin: 0 auto;
}

.open-popup {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 190px;
    border: 2px solid #3B3736;
    border-radius: 30px;
    padding: 13px 11px;
    color: #3B3736;
}

.open-popup:hover {
    background-color: #29201C;
    color: #B2B2B2;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #B2B2B2;
    width: 1100px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    top: 170px;
    left: 1300px;
    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: #29201C;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #29201C;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #B2B2B2;
}

.popup label {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #29201C;
}

.reviews-list {
}

.reviews-item {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.reviews-item__avatar img {
    width: 100px;
    height: 100px;
}

.reviews-item__info {
    padding-left: 25px;
}
