/*========ZEROING STYLES========*/
* {padding:0; margin:0; border:0;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
:focus,:active {outline:none;}
a:focus,a:active {outline:none;}
nav, footer, header, aside {display:block;}
html, body {height:100%; width:100%; line-height:1; -ms-text-size-adjust:100%; -moz-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a,a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
ul li {list-style:none;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-size:inherit; font-weight: inherit;}
/*--------------------*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background: #FDF5E6;
}


/*========CONTAINER========*/
.container {
    width: 100%;
    height: inherit;
    max-width: 1180px;
    margin: 0 auto;
}

/*========NAVBAR========*/
.navbar {
    width: 100%;
    background-color: #29201C;
    padding: 5px 0;
    z-index: 1000;
}

.fixed {
    position: fixed;
}

.navbar_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.nav {
    padding-left: 150px;
}

.nav_link {
    position: relative;
    text-decoration: none;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: bold;
    color: #FDF5E6;
    margin-left: 80px;
}

.nav_link::before {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #FDF5E6;
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: scaleX(0);
    transition: 0.25s;
}

.nav_link:hover::before {
    transform: scaleX(1);
    transition: 0.25s;
}

.nav_link:hover {
    color: #FDF5E6;
}

.nav_link:first-child {
    margin-left: 0;
}

.logo img {
    height: 65px;
}

@media (min-width: 576px) and (max-width: 992px){
    .nav {
        padding-left: 30px;
    }

    .nav_link {
        margin-left: 30px;
    }
}

@media (max-width: 575px){
    .nav {
        padding-left: 30px;
        font-size: 8pt;
    }

    .nav_link {
        margin-left: 30px;
        font-size: 8pt;
    }
}


/*========FOOTER========*/
.footer {
    flex: 0 0 auto;
    z-index: 1000;
    width: 100%;
    background-color: #29201C;
    padding: 15px 0;

    font-size: 10pt;
    font-weight: normal;
    color: #FDF5E6;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright_title {
    margin-bottom: 6px;
}



/*===========ABOUT===========*/
.about {
    margin: 60px 0;
}

.about_inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;

    padding-bottom: 85px;
    border-bottom: 2px solid #716c6b;
}

.about_content {
    font-family: 'Raleway', serif;
    font-size: 20px;
    text-align: center;
    color: #3B3736;
}

.about_title {
    position: relative;
    font-weight: bolder;
    margin-top: 20px;
}

.about_title:after {
    width: 100px;
    height: 2px;
    background: #54504f;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
}

.about_text {
    margin-top: 60px;
}

.about_link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 180px;
    border: 2px solid #29201C;
    border-radius: 20px;
    padding: 10px 8px;
    margin: 30px auto 10px;

    color: #54504f;
}

.about_foto img {
    width: 380px;
    height: 380px;
    border: 1px solid #29201C;
}

.about_link:hover {
    background-color: #29201C;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}

.aside_link {
    width: 220px;
}

.about_aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;

    padding: 91px 0 60px;
}
.about_foto-aside {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.about_foto-aside img {
    padding-left: 10px;
    width: 555px;
    height: 380px;
}

.btn-swiper-prev {
    position: absolute;
    top: 850px;
    left: 750px;
}

.btn-swiper-prev img {
    width: 65px;
}

.btn-swiper-next {
    position: absolute;
    top: 850px;
    right: 120px;
}

.btn-swiper-next img {
    width: 65px;
}

@media (min-width: 576px) and (max-width: 992px){
    .about_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_text {
        margin-top: 60px;
        padding-right: 90px;
        padding-left: 90px;
    }

    .about_aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn-swiper-next {
        display: none;
    }

    .btn-swiper-prev {
        display: none;
    }
}

@media (max-width: 575px){
    .about_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn-swiper-next {
        display: none;
    }

    .btn-swiper-prev {
        display: none;
    }

    .about_foto-aside img {
        width: 370px;
        height: 250px;
    }
}


/*===========FILLINGS===========*/
.fillings {
    border-top: 2px solid #a09a9a;;
    background-color: #29201C;
}
.fillings__inner {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-gap: 20px;
    padding: 50px 0;
    color: #FDF5E6;

    border-bottom: 2px solid #a09a9a;
}

.fillings__info {
    padding-right: 30px;
}

.fillings__title {
    font-size: 26px;
    margin-top: 35px;
}

.fillings__subtitle {
    font-size: 19px;
    margin-top: 20px;
}

.fillings__link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 190px;
    border: 2px solid #FDF5E6;
    border-radius: 30px;
    padding: 13px 11px;
    margin-top: 70px;
    color: #FDF5E6;
}

.fillings__link:hover {
    background-color: #FDF5E6;
    color:  #29201C;

    transition: background-color 0.3s linear, color 0.3s linear;
}

.fillings__foto img {
    width: 500px;
    height: 340px;

    border: 2px solid #3B3736;
}

@media (min-width: 576px) and (max-width: 992px){
    .fillings__foto img {
        width: 380px;
        height: 220px;
    }

    .fillings__title {
        font-size: 22px;
    }

    .fillings__subtitle {
        font-size: 16px;
        margin-top: 10px;
    }

    .fillings__inner {
        padding-left: 65px;
        grid-template-columns: 1fr 500px;
        grid-gap: 20px;
    }

    .fillings__link {
        margin-top: 20px;
        width: 170px;
        font-size: 14px;
        padding: 13px 11px;
    }
}

@media (max-width: 575px){
    .fillings__foto img {
        width: 200px;
        height: 150px;
    }

    .fillings__title {
        font-size: 20px;
    }

    .fillings__subtitle {
        font-size: 14px;
        margin-top: 12px;
    }

    .fillings__inner {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        padding-left: 30px;
    }

    .fillings__link {
        margin-top: 20px;
        width: 170px;
        font-size: 14px;
        padding: 13px 11px;
    }
}

/*===========GALLERY===========*/
.gallery {
    margin: 30px 0 30px;
    position: relative;
}

.gallery__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    font-size: 0;
}

.gallery_item {
    display: block;
    position: relative;
}

.gallery_item-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    color: #c4b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    opacity: 0;
}

.gallery_item:hover .gallery_item-hover {
    opacity: 1;

    transition: opacity 0.2s linear;
}

.gallery_item img {
    width: 400px;
    height: 400px;
}

@media (min-width: 576px) and (max-width: 992px){
    .gallery__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px){
    .gallery__list {
        grid-template-columns: 1fr ;
    }
}

/*===========ORDER===========*/
.order-page img {
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.background {
    z-index: 0;
}

.background_blur {
    backdrop-filter: blur(2px);
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.order-form {
    position: absolute;
    top: 110px;
    left: 570px;
    width: 30%;
    padding: 20px 10px 30px;
    background-color: #FDF5E6;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    color: #29201C;

    border-radius: 15px;
    box-shadow: 0 0 34px 7px rgba(255, 255, 255, 0.28);
}

.form_title {
    color: #29201C;
    font-size: 15pt;
    width: 100%;
    padding: 10px 0 10px;
}

.order-form input {
    position: relative;
    width: 80%;
    border: 0;
    background-color: #FDF5E6;
    border-bottom: 2px solid #838282;
    margin: 22px 0 22px;
    padding: 6px 4px;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #29201C;
}

.order-form input:focus {
    outline: none;
    border-bottom: 2px solid #29201C;
}

.order_description {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.order_description textarea {
    border: 0;
    background-color: #FDF5E6;
    border-bottom: 2px solid #838282;
    height: 100px;
    width: 80%;
    resize: none;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #29201C;
}

.order_description textarea:focus {
    outline: none;
    border-bottom: 2px solid #29201C;
}

.order-form_btn {
    padding: 13px;
    width: 83%;
    border-radius: 20px;
    border: 2px solid #29201C;
    background-color: #29201C;;
    margin: 40px auto 15px;
    cursor: pointer;
    color: #FDF5E6;
    transition: background-color 0.2s linear;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
}

.order-form_btn:hover {
    background-color: #FDF5E6;
    color: #29201C;
    border: 2px solid #29201C;
}

.required-el1::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 87px;
    color: rgba(255, 0, 0, 0.5);
}

.required-el2::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 237px;
    color: rgba(255, 0, 0, 0.5);
}

.order-form-success {
    position: absolute;
    top: 240px;
    padding: 20px;
}

.order-form-success__title {
    font-size: 15pt;
    padding: 20px 0;
}

.order-form-success__subtitle {
    font-size: 13pt;
    padding: 20px 0;
}

@media (min-width: 576px) and (max-width: 992px){
    .order-page img {
        min-width: 576px;
        max-width: 800px;
    }

    .order-form {
        top: 170px;
        left: 150px;
        width: 60%;
        padding: 20px 10px 30px;
    }
}

@media (max-width: 575px){
    .order-page img {
        min-width: 300px;
        max-width: 575px;
    }

    .order-form {
        top: 100px;
        left: 50px;
        width: 75%;
        padding: 20px 10px 30px;
    }

    .required-el1::after {
        left: 285px;
        top: 87px;
    }

    .required-el2::after {
        left: 285px;
        top: 237px;
    }
}


/*===========CATEGORY LIST===========*/
.category-list {
    margin: 30px 0 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: #29201C;
}

.category-list__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.category-list__title {
    font-size: 21pt;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.hover-effect-scale {
    display: block;
    list-style: none;
    text-align: center;
}

.hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 2px solid #29201C;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.hover-effect-scale li p {
    color: #c4b9b9;
    font-size: 18pt;
    margin: 5px;
    padding-bottom: 20px;
}

.name-category {
    text-transform: uppercase;
}

.category-btn-learn-more {
    display: block;
    text-decoration: none;
    padding: 13px;
    width: 175px;
    color: #29201C;
    background: #c4b9b9;
    border-radius: 30px;
    border: 2px solid #29201C;
    margin: 0 auto;
    transition: all 0.25s linear;
}

.category-btn-learn-more:hover {
    border: 2px solid #c4b9b9;
    background: #29201C;
    color: #c4b9b9;
}

.hover-effect-scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hover-effect-scale li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    color: #c4b9b9;
}

.hover-effect-scale li img {
    width: 400px;
    height: 360px;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
}

.hover-effect-scale li:hover img {
    transform: scale(1.3);
}

.hover-effect-scale li:hover div {
    opacity: 1;
}

@media (min-width: 576px) and (max-width: 992px){
    .category-list__inner {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .category-list__title {
        font-size: 19pt;
        padding-bottom: 20px;
    }
}

@media (max-width: 575px){
    .category-list__inner {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .category-list__title {
        font-size: 17pt;
        padding-bottom: 20px;
    }
}

/*===========DESSERT LIST===========*/
.hover-effect-scale-dessert li p {
    font-size: 21pt;
    padding: 8px;
}

.fillings-btn-more {
    margin-top: 15px;
}
.price-dessert {
    font-weight: normal;
    font-size: 18pt;
}

.name-dessert-under {
    font-size: 14pt;
    padding-top: 10px;
}


/*===========DESSERT DETAIL===========*/
.dessert-detail {
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
}

.dessert-image img {
    width: 550px;
    height: 480px;
    border: 2px solid #29201C;
}

.dessert-info {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #29201C;
    padding-left: 100px;
    padding-top: 30px;
}

.dessert-info__dessert_name {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: bold;
}

.dessert-info__dessert_price {
    padding-top: 20px;
}

.dessert-info__dessert_description {
    padding-top: 30px;
    text-align: justify;
    line-height: 1.2;
}

.dessert-detail__link-order {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 230px;
    border: 2px solid #29201C;
    border-radius: 20px;
    padding: 10px 10px;
    margin-top: 80px;
    color: #54504f;
}

.dessert-detail__link-order:hover {
    background-color: #29201C;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}

@media (min-width: 576px) and (max-width: 992px){
    .dessert-detail {
        display: flex;
        flex-direction: column;

    }

    .dessert-image img {
        width: 480px;
        height: 400px;
    }

    .dessert-image {
        padding-left: 50px;
    }

    .dessert-info {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 575px){
    .dessert-detail {
        display: flex;
        flex-direction: column;
    }

    .dessert-image img {
        width: 350px;
        height: 270px;
    }

    .dessert-image {
        padding-left: 40px;
    }

    .dessert-info {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*===========PAGE LEARN MORE WITH SOCIAL NETWORK===========*/
.learn-more-page img {
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.learn-more-background {
    z-index: 0;
}

.learn-more-background_blur{
    backdrop-filter: blur(2px);
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.button-learn-more {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    cursor: pointer;
}

.learn-more-page__inner {
    position: absolute;
    top: 40px;
    left: 650px;
}

.button-learn-more-telegram {
    background: #229ED9;
    border-radius: 40px;
    margin-top: 200px;
    transition: background-color 0.15s linear;
}

.button-learn-more-telegram:hover {
    background: #063bac;
    transition: background-color 0.15s linear;
}

.button-learn-more-whatsapp {
    background: #25D366;
    border-radius: 40px;
    margin-top: 30px;
    transition: background-color 0.15s linear;
}

.button-learn-more-whatsapp:hover {
    background: #099740;
    transition: background-color 0.15s linear;
}

@media (min-width: 576px) and (max-width: 992px){
    .learn-more-page img {
        max-width: 800px;
        min-width: 576px;
        overflow: hidden;
    }

    .learn-more-page__inner {
        position: absolute;
        top: 180px;
        left: 245px;
    }
}

@media (max-width: 575px){
    .learn-more-page img {
        max-width: 575px;
        overflow: hidden;
    }

    .learn-more-page__inner {
        position: absolute;
        top: 70px;
        left: 60px;
    }
}

/*===========REVIEWS===========*/
.reviews-page {
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: normal;
    color: #29201C;
}

.open-popup {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 250px;
    border: 2px solid #29201C;
    border-radius: 30px;
    padding: 13px 11px;
    color: #29201C;
}

.open-popup:hover {
    background-color: #29201C;
    color: #B2B2B2;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #29201C;
    border-radius: 15px;
    box-shadow: 0 0 34px 7px rgba(255, 255, 255, 0.28);
    width: 700px;
    padding: 30px 0;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    top: 105px;
    left: 1078px;
    cursor: pointer;
}

.cl-btn-7:before {
    content: '+';
    color: #FDF5E6;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #FDF5E6;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #29201C;
}

.popup label {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    color: #FDF5E6;;
}

.review-person-info {
    margin-left: 60px;
}

.review-person-info input {
    position: relative;
    width: 40%;
    border: 0;
    background-color: #29201C;
    border-bottom: 2px solid #838282;
    margin: 5px 10px 22px;
    padding: 6px 4px;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #FDF5E6;
}

.review-person-info input:focus {
    outline: none;
    border-bottom: 2px solid #FDF5E6;
}

.person-foto {
    margin-left: 70px;
    margin-top: 15px;
}

.input-file {
    position: relative;
    display: inline-block;
    max-width: 200px;
    margin-right: 20px;
}
.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: #29201C;
    text-align: center;
    border-radius: 4px;
    background-color: #FDF5E6;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file-text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover .input-file-btn {
    background-color: #b2aca0;
}
.input-file input[type=file]:disabled + .input-file-btn {
    background-color: #FDF5E6;
}

.review-foto {
    margin: 20px 0 20px 70px;
}

.review-foto__inner {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.review-foto__title {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #FDF5E6;
}

.review-text {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.popup textarea {
    border: 0;
    background-color: #29201C;
    border-bottom: 2px solid #838282;
    height: 150px;
    width: 80%;
    resize: none;
    margin: 10px auto;

    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #FDF5E6;
}

.popup textarea:focus {
    outline: none;
    border-bottom: 2px solid #FDF5E6;
}

.required-el1-review::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 87px;
    color: rgba(255, 0, 0, 0.5);
    z-index: 1000;
}

.required-el2-review::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 237px;
    color: rgba(255, 0, 0, 0.5);
    z-index: 1000;
}

.required-el3-review::after {
    content: " *";
    font-size: 15pt;
    position: absolute;
    left: 437px;
    top: 237px;
    color: rgba(255, 0, 0, 0.5);
    z-index: 1000;
}

.review-btns {
    display: block;
    padding: 13px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #FDF5E6;
    background-color: #FDF5E6;
    margin: 40px auto 0;
    cursor: pointer;
    color: #29201C;

    transition: background-color 0.2s linear;
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
}

.review-btns:hover {
    background-color: #29201C;
    color: #FDF5E6;
    border: 2px solid #FDF5E6;
}

.reviews-item {
    padding-bottom: 25px;
    border-bottom: 2px solid #c4b9b9;
    margin: 30px auto;
}

.reviews-item__content {
    display: flex;
    margin: 0 0;
}

.reviews-item__avatar img {
    width: 100px;
    height: 100px;
    border: 2px solid #29201C;
    border-radius: 50%;
}

.reviews-item__info {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding-left: 25px;
    overflow: hidden;
    color: #29201C;
}

.reviews-item__info__date {
    padding-top: 3px;
    font-weight: normal;
}

.reviews-item__info__description {
    padding-top: 15px;
    font-weight: normal;
    word-wrap: break-word;
    text-align: justify;
}

.reviews-list__image {
    display: flex;
    padding-top: 15px;
    margin-left: 125px;
}

.reviews-list__image a {
    display: block;
    padding-right: 10px;
}

.reviews-list__image img {
    width: 75px;
    height: 75px;
    border: 2px solid #29201C;
}

@media (min-width: 576px) and (max-width: 992px){
    .reviews-item {
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        border-bottom: 2px solid #c4b9b9;
        margin: 20px auto;
    }

    .open-popup {
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .cl-btn-7 {
        top: 241px;
        left: 685px;
    }
}

@media (max-width: 575px){
    .reviews-item {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 18px auto;
    }

    .open-popup {
        margin-left: 30px;
        margin-bottom: 40px;
    }

    .reviews-item__info__description {
        font-size: 11pt;
    }

    .reviews-item__avatar img {
        width: 80px;
        height: 80px;
    }

    .cl-btn-7 {
        top: 183px;
        left: 345px;
    }

    .popup {
        top: 50%;
        left: 50%;
        width: 90%;
        max-width: 575px;
        padding: 20px 0;
    }
}
