/*========ZEROING STYLES========*/
* {padding:0; margin:0; border:0;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
:focus,:active {outline:none;}
a:focus,a:active {outline:none;}
nav, footer, header, aside {display:block;}
html, body {height:100%; width:100%; line-height:1; -ms-text-size-adjust:100%; -moz-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a,a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
ul li {list-style:none;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-size:inherit; font-weight: inherit;}
/*--------------------*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background: #c4b9b9;
}


/*========CONTAINER========*/
.container {
    width: 100%;
    height: inherit;
    max-width: 1180px;
    margin: 0 auto;
}

/*========NAVBAR========*/
.navbar {
    width: 100%;
    background-color: #0e0e0e;
    padding: 5px 0;
}

.fixed {
    position: fixed;
    transition: 1s lenear;
}

.navbar_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.nav_link {
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    color: #B2B2B2;
    margin-left: 80px;

    opacity: .75;
    transition: opacity .1s linear;
}

.nav {
    padding-left: 150px;
}

.logo {
    height: 65px;
}

.nav_link:first-child {
    margin-left: 0;
}

.nav_link:hover {
    opacity: 1;
}

/*========FOOTER========*/
.footer {
    font-size: 10pt;
    font-weight: normal;
    color: #B2B2B2;

    width: 100%;
    background-color: #0e0e0e;
    padding: 15px 0;

    flex: 0 0 auto;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright_title {
    margin-bottom: 6px;
}

/*===========ABOUT===========*/
.about {
    margin: 60px 0;
}

.about_inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;

    padding-bottom: 85px;
    border-bottom: 2px solid #3B3736;
}

.about_content {
    font-family: 'Raleway', serif;
    font-size: 20px;
    text-align: center;
    color: #3B3736;
}

.about_title {
    position: relative;
    font-weight: bolder;
    margin-top: 20px;
}

.about_title:after {
    width: 100px;
    height: 2px;
    background: #3B3736;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
}

.about_text {
    margin-top: 60px;
}

.about_link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 180px;
    border: 2px solid #3B3736;;
    border-radius: 20px;
    padding: 10px 8px;
    margin: 30px auto 10px;

    color: #3B3736;
}

.about_link:hover {
    background-color: #0F0F0F;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}

.aside_link {
    width: 220px;
}

.about_aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;

    padding: 80px 0 60px;
}


/*===========FILLINGS===========*/
.fillings__inner {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-gap: 20px;
    padding: 50px 0;
    color: #3B3736;

    border-bottom: 2px solid #a09a9a;
}

.fillings__info {
    padding-right: 30px;
}

.fillings__title {
    font-size: 26px;
    margin-top: 35px;
}

.fillings__subtitle {
    font-size: 19px;
    margin-top: 20px;
}

.fillings__link {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 190px;
    border: 2px solid #3B3736;
    border-radius: 30px;
    padding: 13px 11px;
    margin-top: 70px;

    color: #3B3736;
}

.fillings__link:hover {
    background-color: #0F0F0F;
    color: #B2B2B2;

    transition: background-color 0.3s linear, color 0.3s linear;
}
















.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item-category {
    padding-bottom: 10px;
    margin-top: 25px;
    width: 400px;
    height: 430px;
}

.name-category {
    font-size: 18px;
    color: #3B3736;
    text-align: center;
    margin: 0;
}

.flex-item-dessert {
    padding-bottom: 10px;
    margin-top: 25px;
    width: 400px;
    height: 460px;
}

.name-dessert {
    font-size: 18px;
    color: #3B3736;
    text-align: center;
    margin: 0;
}

.price-dessert {
    font-size: 14px;
    color: #696969;
    text-align: center;
    margin-top: 0;
}

#learn-more {

}

.button-learn-more {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

#blm_1 {
    background: #229ED9;
    margin-top: 200px;
}

#blm_2 {
    background: #25D366;
    margin-top: 30px;
}