<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}<title>Десерты на заказ</title>{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% block header %}<header class="header">
        <div>
            <a href=""><img src="{% static 'images/logo.png' %}" width="200px" height="150px"/></a>
            <a href="{% url 'categories' %}" >Десерты</a>
            <a href="{% url 'fillings' %}" >Начинки</a>
            <a href="" >Галерея</a>
            <a href="" >Отзывы</a>
            <a href="" >Оформить заказ</a>
       </div>
    </header>{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}<footer></footer>{% endblock %}

</body>
</html>