.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item-category {
    padding-bottom: 10px;
    margin-top: 25px;
    width: 400px;
    height: 430px;
}

.name-category {
    font-size: 18px;
    color: #3B3736;
    text-align: center;
    margin: 0;
}

.flex-item-dessert {
    padding-bottom: 10px;
    margin-top: 25px;
    width: 400px;
    height: 460px;
}

.name-dessert {
    font-size: 18px;
    color: #3B3736;
    text-align: center;
    margin: 0;
}

.price-dessert {
    font-size: 14px;
    color: #696969;
    text-align: center;
    margin-top: 0;
}

#learn-more {

}

.button-learn-more {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

#blm_1 {
    background: #229ED9;
    margin-top: 200px;
}

#blm_2 {
    background: #25D366;
    margin-top: 30px;
}
