<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}<title>Десерты на заказ</title>{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
    <div class="wrapper">

        {% block header %}
        <header class="navbar" id="navigation">
            <div class="container">
                <div class="navbar_inner">
                    <a id="link_logo" href="{% url 'about_me' %}"><img class="logo" src="{% static 'images/logo_foto.png' %}"/></a>
                    <nav class="nav">
                        <a class="nav_link" href="{% url 'categories' %}" >ДЕСЕРТЫ</a>
                        <a class="nav_link" href="{% url 'fillings' %}" >НАЧИНКИ</a>
                        <a class="nav_link" href="{% url 'gallery' %}">ГАЛЕРЕЯ</a>
                        <a class="nav_link" href="{% url 'reviews' %}">ОТЗЫВЫ</a>
                        <a class="nav_link" href="{% url 'new-order' %}">ОФОРМИТЬ ЗАКАЗ</a>
                    </nav>
                </div>
            </div>
        </header>
        {% endblock %}

        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="footer_content">
                    <p class="copyright_title">©️Сopyright</p>
                    <p class="copyright_subtitle">Торты на заказ - desserts_76</p>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>