<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}<title>Десерты на заказ</title>{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% block header %}<div class="navbar">
            <div class="container">
                <div class="navbar_inner">
                    <a href="{% url 'about_me' %}"><img class="logo" src="{% static 'images/logo_foto.png' %}"/></a>
                    <nav class="nav">
                        <a class="nav_link" href="{% url 'categories' %}" >ДЕСЕРТЫ</a>
                        <a class="nav_link" href="{% url 'fillings' %}" >НАЧИНКИ</a>
                        <a class="nav_link" href="{% url 'gallery' %}">ГАЛЕРЕЯ</a>
                        <a class="nav_link" href="">ОТЗЫВЫ</a>
                        <a class="nav_link" href="">ОФОРМИТЬ ЗАКАЗ</a>
                    </nav>
                </div>
            </div>
    </div>{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}<footer class="footer">
        <div class="container">
            <div class="footer_content">
                <p class="copyroght_title">©️Сopyright</p>
                <p class="copyroght_subtitle">Торты на заказ - desserts_76</p>
            </div>
        </div>
    </footer>{% endblock %}

</body>
</html>