{% extends "base_about.html" %}

{% block content %}
    <div class="about">
        <div class="container">
            <div class="about_inner">
                {% load static %}
                <div class="about_foto">
                    <img src="{% static 'images/header_cake.png' %}"/>
                </div>
                <div class="about_content">
                    <p class="about_title">Все началось с хобби...</p>
                    <p class="about_text">Привет) меня зовут Лера и я начинающий кондитер города Рыбинска и Ярославля.
                        Мне 19 лет, и я считаю, что именно сейчас самое время попробовать себя в чём то новом.
                        Кулинарией я начала заниматься только год назад, но я готова работать над своим мастерством и
                        совершенствовать навыки изготовления кондитерских изделий. И я очень надеюсь, что найдутся люди,
                        которые по настоящему оценят мои старания и поверят в меня
                        Начало положено, а дальше - больше, как говорится!</p>
                    <a href="{% url 'gallery' %}" class="about_link">Фото десертов</a>
                </div>
                <div class="about_foto">
                    <img src="{% static 'images/header_foto.png' %}"/>
                </div>
            </div>

            <div class="about_aside">
                {% load static %}
                <div class="about_content">
                    <p class="about_title">Любое желание воплотимо!</p>
                    <p class="about_text">Главным профилем моей работы является изготовление тортов и разнообразных сладостей
                        на заказ. В каталоге Вы найдете как классические торты и капкейки, так и ставшие популярными кейк-попсы
                        и бенто-торты, а также красочное безе, которое особенно нравится детям. У меня нет стандартных наборов
                        и шаблонов для создания своих сладостей, любое Ваше желание по начинке и оформлению воплотимо!</p>
                    <a href="{% url 'new-order' %}" class="about_link aside_link">Оформить заказ</a>
                </div>
                <div class="about_foto-aside swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% static 'images/aside_foto1.jpg' %}" alt="Картинка"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="{% static 'images/aside_foto2.jpg' %}" alt="Картинка"/>
                        </div>
                    </div>
                </div>
                <div class="btn-swiper-prev">
                    <img src="{% static 'images/arrow-left.svg' %}" alt="Левая стрелка">
                </div>
                <div class="btn-swiper-next">
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Правая стрелка">
                </div>
            </div>
        </div>
    </div>
{% endblock %}