{% extends "base_catalog.html" %}

{% block content %}
    {% if categories %}
        <div class="category-list">
            <div class="container">
                <h3 class="category-list__title">Выберите категорию</h3>
                <div class="category-list__inner">
                    {% for category in categories %}
                        <ul class="hover-effect-scale">
                            <li>
                                <img src="{{ category.photo.url }}" alt="Фото категории">
                                <div>
                                    <p class="name-category">{{ category.category_name }}</p>
                                    <a class="category-btn-learn-more" onclick="window.location.href='{{ category.get_absolute_url }}'" href="#">Подробнее</a>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}