{% extends "base_generic.html" %}

{% block content %}
    {% if desserts %}
        <div class="flex-container">
        {% for dessert in desserts %}
            <div class="flex-item-dessert" onclick="window.location.href='{{ dessert.get_absolute_url }}'">
                <img src="{{ dessert.photo.url }}" width="400px" height="400px"/>
                <p class="name-dessert">{{ dessert.dessert_name }}
                <p class="price-dessert">{{ dessert.dessert_price }} р.</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}