{% extends "base_catalog.html" %}

{% block content %}
    {% if dessert %}
        <div class="container">
            <div class="dessert-detail">
                <div class="dessert-image">
                    <img src="{{ dessert.photo.url }}" />
                </div>
                <div class="dessert-info">
                    <p class="dessert-info__dessert_name">{{ dessert.dessert_name }}</p>
                    <p class="dessert-info__dessert_price">{{ dessert.dessert_price }} рублей - {{ dessert.dessert_weight }} грамм</p>
                    <p class="dessert-info__dessert_description">{{ dessert.dessert_description }}</p>
                    <a href="{% url 'new-order' %}" class="dessert-detail__link-order">Оформить заказ</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}