{% extends "base_catalog.html" %}
{% load static %}

{% block content %}
    <div class="fillings">
        {% if fillings %}
            {% for filling in fillings %}
                <div class="container">
                    <div class="fillings__inner">
                        <div class="fillings__info">
                            <h3 class="fillings__title">{{ filling.filling_name }}</h3>
                            <p class="fillings__subtitle">{{ filling.filling_description }}</p>
                            <a class="fillings__link" href="learn-more">Узнать подробности</a>
                        </div>
                        <div class="fillings__foto">
                            <img src="{{ filling.photo.url }}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}